<h2>Pre-Order your shoes from Sole Proprietor
</h2>

<form action="/conformation" method="post">

<label>First Name:</label>  
<input type="text" name="first_name">

<label>Last Name:</label>
<input type="text" name="last_name">

<label>Quantity:</label>
<input type="number" name="quantity">


<label>Size:</label>
<input type="number" name="size" min="7" max="11">

<input type="submit" value="Order">

</form>
